@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


.navbarMain{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: transparent;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navImageMain {
  width: 220px;
  margin-left: 30px;
}

.nav-links-main{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
  color: white;
  
}

.shopMain,
.aboutMain,
.mailerMain,
.minimalMain{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 15px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.shopMain:hover {
  color: white;
}
.aboutMain:hover {
  color: white;
}
.mailerMain:hover {
  color: white;
}
.minimalMain:hover {
  color: white;
}

.mobile-menu-icon-main {
  display: none;
}

@media screen and (max-width: 780px){
  .logoMain{
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }

  .nav-links-main{
    display: none;
  }

  .nav-links-mobile-main{
    position: absolute;
    display: block;
    list-style: none;
    background: rgba(255, 255, 255, 0.7);
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }

  .shopMain,
  .aboutMain,
  .mailerMain,
  .minimalMain{
    color: black;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease; 
     }

     .mobile-menu-icon-main{
       display: block;
       position: aboslute;
       font-size: 30px;
       color: white;
       background: transparent;
       border: none;
       outline: none;
       top: 15px;
       right: 25px;
     }
  }
