

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;

}


.masthead {
    
    padding: 10em 0;
  background-image: url('../../../assets/IMG_1204.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}


h1 {
    margin-bottom: 40px;
}


.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    font-size: 20px;
}

.location-section {
    margin-bottom: 100px;
    

}

.introduction-section > p,
.location-section > p,
.questions-section,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 2em;
}

.kristina-picture {
    
  height:500px;
  width: 40%;
  margin: auto;
  background-image: url('../../../assets/kristina.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 150px;

}

